$error-color: #ef9a9a;
$success-color: #a5d6a7;

$highlight-primary-color: #a23419;
$highlight-secondary-color: #f8efb6;

$primary-color: #546e7a;
$light-color: #819ca9;
$dark-color: #29434e;

$light-text-color: lighten($light-color, 20%);

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: bold;
	src: url('../../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-weight: lighter;
	src: url('../../fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-weight: lighter;
	font-style: italic;
	src: url('../../fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
}

@mixin message($color) {
	color: darken($color, 40%);
	background-color: $color;
}

@mixin defaultFont() {
	font-family: 'Montserrat';
}

@mixin textFont() {
	font-family: 'Merriweather';
}

html, body {
	height: 100%;
}

#main {
	height: 100%;
}

#graph-container {
	min-height: 100%;
	background-color: lighten($light-color, 20%);
}

.button {
	cursor: pointer;
	outline: none;
	width: 50px;
	height: 50px;
	color: $dark-color;
	background-color: $light-color;
	border: none;
	&:hover {
		color: $light-color;
		background-color: $dark-color;
	}
}

.back-button {
	position: fixed;
	top: 0;
	left: 0;
}

.search-button {
	position: fixed;
	top: 0;
	right: 0;
}

.search-input {
	@include defaultFont();
	position: fixed;
	top: 0;
	right: 50px;
	outline: none;
	height: 50px;
	width: 200px;
	font-size: 1.5em;
	color: $dark-color;
	background-color: rgba($light-color, 0.6);
	padding: 0 10px;
	border: none;
}

#message-container {
	position: fixed;
	top: 0;
	left: 50%;
	right: 50%;
	display: flex;
	flex-direction: column;
	width: 30em;
	height: auto;
	margin-left: -15em;
}

.message {
	@include defaultFont();
	position: relative;
	display: none;
	width: 100%;
	height: 26px;
	padding: 8px;
	margin: 8px;
	text-align: center;
	font-size: 1.2em;
	&.error {
		@include message($error-color);
	}
	&.success {
		@include message($success-color);
	}
}

.validate-error {
	border: 4px solid $error-color;
}

.cxtmenu-content {
	@include defaultFont();
	font-size: 1em;
}

#menu {
	height: 100%;
	background-color: $dark-color;
	display: flex;
	justify-content: center;
	align-items: center;
}

#splash {
	display: flex;
	height: 100%;
	background-color: $dark-color;
	color: $light-text-color;;
	justify-content: center;
	align-items: center;
}

#header {
	@include textFont();
	font-size: 6em;
	text-align: center;
	letter-spacing: 0.2em;
}

.menu-sections {
	display: flex;
	justify-content: space-evenly;
	width: 800px;
	height: 320px;
	section {
		height: 100%;
		background: $dark-color;
		border: 8px solid $primary-color;
	}
}

.menu-left {
	width: 32%;
}

.menu-option {
	@include defaultFont();
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	font-size: 1.2em;
	font-weight: bold;
	color: $dark-color;
	background-color: $primary-color;
	i {
		padding: 0 8px;
	}
	&:hover {
		color: $highlight-secondary-color;
	}
}

.menu-conversations {
	width: 56%;
	overflow: auto;
}

.conversation {
	@include defaultFont()
	display: flex;
	cursor: pointer;
	align-items: center;
	height: 60px;
	padding: 0 16px;
	color: $dark-color;
	p {
		width: 76%;
		font-size: 1.2em;
	}
	.icons {
		width: 24%;
		i {
			padding: 0 4px;
			&:hover {
				color: darken($dark-color, 20%);
			}
		}
	}
	&:nth-child(even) {
		background-color: lighten($light-color, 20%);
	}
	&:nth-child(odd) {
		background-color: $light-color;
	}
	&:hover {
		background-color: $highlight-secondary-color;
	}
	&.default {
		display: none;
	}
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lighten($light-color, 40%); 
}

::-webkit-scrollbar-thumb {
  background: $dark-color; 
}

::-webkit-scrollbar-thumb:hover {
  background: darken($dark-color, 20%); 
}
