$error-color: #ef9a9a;
$success-color: #a5d6a7;

$highlight-primary-color: #a23419;
$highlight-secondary-color: #f8efb6;

$primary-color: #546e7a;
$light-color: #819ca9;
$dark-color: #29434e;

$light-text-color: lighten($light-color, 20%);

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: bold;
	src: url('../../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-weight: lighter;
	src: url('../../fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-weight: lighter;
	font-style: italic;
	src: url('../../fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
}

@mixin message($color) {
	color: darken($color, 40%);
	background-color: $color;
}

@mixin defaultFont() {
	font-family: 'Montserrat';
}

@mixin textFont() {
	font-family: 'Merriweather';
}

@mixin flexCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#main {
	-webkit-user-select: none;
	-webkit-app-region: drag;

	height: 100%;

	animation: fadeIn 0.5s;
}

#graph-container {
	min-height: 100%;
	background-color: lighten($light-color, 20%);
}

.button {
	cursor: pointer;
	outline: none;
	width: 50px;
	height: 50px;
	color: $dark-color;
	background-color: $light-color;
	border: none;
	&:hover {
		color: $light-color;
		background-color: $dark-color;
	}
}

.back-button {
	position: fixed;
	top: 0;
	left: 0;
}

.search-button {
	position: fixed;
	top: 0;
	right: 0;
}

.search-input {
	@include defaultFont();
	position: fixed;
	top: 0;
	right: 50px;
	outline: none;
	height: 50px;
	width: 200px;
	font-size: 1.5em;
	color: $dark-color;
	background-color: rgba($light-color, 0.6);
	padding: 0 10px;
	border: none;
}

#message-container {
	position: fixed;
	top: 0;
	left: 50%;
	right: 50%;
	display: flex;
	flex-direction: column;
	width: 30em;
	height: auto;
	margin-left: -15em;
}

.message {
	@include defaultFont();
	@include flexCenter();
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 15px;
	text-align: center;
	font-size: 1.2em;
	&.error {
		@include message($error-color);
	}
	&.success {
		@include message($success-color);
	}
}

.validate-error {
	border: 2px solid $error-color;
}

.cxtmenu-content {
	@include defaultFont();
	font-size: 1em;
}

#menu {
	@include flexCenter();
	height: 100%;
	background-color: $dark-color;
}

#splash {
	@include flexCenter();
	height: 100%;
	background-color: $dark-color;
	color: $light-text-color;;
}

#header {
	@include textFont();
	font-size: 6em;
	text-align: center;
	letter-spacing: 0.2em;
}

.menu-sections {
	display: flex;
	justify-content: space-evenly;
	width: 800px;
	height: 320px;
	section {
		height: 100%;
		background: $dark-color;
		border: 8px solid $primary-color;
	}
}

.menu-left {
	width: 32%;
}

.menu-option {
	@include flexCenter();
	@include defaultFont();
	cursor: pointer;
	width: 100%;
	height: 60px;
	font-size: 1.2em;
	font-weight: bold;
	color: $dark-color;
	background-color: $primary-color;
	i {
		padding: 0 8px;
	}
	&:hover {
		color: $highlight-secondary-color;
	}
}

.menu-conversations {
	width: 56%;
	overflow: auto;
}

.conversation {
	@include defaultFont()
	display: flex;
	cursor: pointer;
	align-items: center;
	height: 60px;
	padding: 0 16px;
	color: $dark-color;
	p {
		width: 70%;
		font-size: 1.2em;
	}
	.icons {
		text-align: right;
		width: 30%;
		i {
			padding: 0 4px;
			&:hover {
				color: darken($dark-color, 20%);
			}
		}
	}
	&:nth-child(even) {
		background-color: lighten($light-color, 20%);
	}
	&:nth-child(odd) {
		background-color: $light-color;
	}
	&:hover {
		background-color: $highlight-secondary-color;
	}
	&.default {
		display: none;
	}
}

.form-row, .form-column, .form-input {
	display: flex;
	width: 100%;
}

.form-column, .form-input {
	flex-flow: column;
}

.form-column {
	margin: 0 10px;
}

.form-input {
	margin-bottom: 10px;
}

.ui-widget {
	&.ui-widget-content {
		border: 2px solid $dark-color;
		border-radius: 0;
	}
}

.ui-dialog {
	background: $primary-color;
	.ui-dialog-title {
		width: 100%;
	}
	.ui-dialog-titlebar {
		@include defaultFont();
		padding: 10px;
		font-size: 1.1em;
		background: $dark-color;
		color: $light-text-color;
		text-align: center;
		border-radius: 0;
	}
	.ui-dialog-titlebar-close {
		background: $primary-color;
		color: $light-text-color;
		border: 0;
		border-radius: 0;
		&:hover {
			background: $light-color;
		}
	}
}

.ui-dialog-content {
	form {
		@include defaultFont();
		display: flex;
		flex-flow: column;
		align-items: center;
		padding: 20px;
		label {
			margin-bottom: 5px;
			font-style: italic;
			text-align: center;
			font-size: 1.1em;
			color: $light-text-color;
		}
		input, textarea {
			width: 100%;
			padding: 5px;
			font-size: 1.1em;
			background: $light-text-color;
			color: $dark-color;
			border: 0;
			&:focus {
				outline: none;
			}
		}
		input {
			height: 50px;
		}
		textarea {
			@include textFont();
			font-size: 0.9em;
			height: 250px;
			resize: none;
		}
		.button {
			margin: 30px auto 0 auto;
		}
	}
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lighten($light-color, 40%); 
}

::-webkit-scrollbar-thumb {
  background: $dark-color; 
}

::-webkit-scrollbar-thumb:hover {
  background: darken($dark-color, 20%); 
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
